@import 'tablet';

& {
  height: 200px;

  .footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 940px;
    margin-left: 250px;

    .footer__menu {
      height: 110px;

      .footer__link {
        line-height: 5px;
      }
    }
  }
}
