& {
  height: px(2180);
  margin: 0 auto;

  .partners__title {
    margin: 0 auto;
    font-family: 'Montserrat Bold', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    text-align: center;
  }

  .partners__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: px(560);
    height: px(1980);
    margin: 18px auto;

    .partners__block {
      width: px(440);
      text-align: center;

      .partners__photo {
        width: 125px;
        height: 125px;
      }

      .partners__name {
        padding-top: 10px;
        font-family: 'Montserrat Bold', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        text-align: center;
      }

      .partners__about {
        padding-top: 17px;
        color: #8f8f8f;
        font-family: 'Roboto Light', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 17px;
        text-align: center;
      }
    }
  }

  .partners__button {
    width: 280px;
    height: 40px;
    margin-left: 20px;
    border: 2px solid $colorRed;
    border-radius: 20px;
    box-sizing: border-box;
    background: none;
    color: $colorRed;
    font-family: 'Montserrat Bold', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
  }
}


