@import 'tablet';

& {
  height: 350px;

  .search__title {
    margin-top: 102px;
    text-align: center;
  }

  .search__tagline {
    text-align: center;
  }

  .search__input {
    margin-left: 480px;
  }
}
