@import 'tablet';

& {
  height: 350px;

  .search__title {
    margin-top: 102px;
    margin-left: 82px;
  }

  .search__tagline {
    margin-left: 85px;
  }

  .search__input {
    margin-left: 517px;
  }

  .search__button {
    margin-left: -20px;
  }
}
