@import 'mobile';

& {
  height: px(1110);
  margin: 0 auto 100px;

  .how-it-works__title {
    width: 100%;
    margin-top: 98px;
    margin-left: 5px;
  }

  .how-it-works__slider-wrapper {



    .how-it-works__slider {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 747px;
      height: 400px;
      margin: 0 auto;

      .how-it-works__step {
        display: flex;
        justify-content: flex-end;
        width: 235px;
        height: 400px;
        background-size: 100%;
        margin: 20px 10px;
        text-align: center;

        .how-it-works__slider-arrow {
          position: absolute;
          display: flex;
          justify-content: space-between;
          width: 215px;
          padding-bottom: 315px;
          padding-right: 15px;
        }
      }

      .how-it-works__step1 {
        background: url('../images/step1-bg-tablet.png') no-repeat;
      }

      .how-it-works__step2 {
        background: url('../images/step2-bg-tablet.png') no-repeat;
      }

      .how-it-works__step3 {
        background: url('../images/step3-bg-tablet.png') no-repeat;
      }
    }
  }
}
