& {
  height: px(1080);
  background: url('../images/promo-mobile-bg.png') no-repeat;
  background-size: cover;

  .promo__header {
    width: px(340);
    margin: 0 auto;
    padding-top: px(55);

    .promo__urlaubsgluck-header {
      display: none;
    }

    .promo__button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      height: 35px;

      .promo__log-in-button,
      .promo__sign-up-button {
        width: 90px;
        height: 35px;
        border: none;
        background: none;
        color: #fff;
        font-family: 'Montserrat Bold', sans-serif;
        font-style: normal;
        font-size: 14px;
        font-weight: 700;
      }
      .promo__log-in-button:hover,
      .promo__sign-up-button:hover {
        width: 90px;
        height: 35px;
        border: px(4) solid #fff;
        border-radius: px(30);
        box-sizing: border-box;
      }
    }
  }

  .promo__content {
    width: px(600);
    height: px(360);
    margin: px(255) auto px(20);
    color: #fff;
    text-align: center;

    .promo__urlaubsgluck-content {
      font-family: 'Montserrat Bold', sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      letter-spacing: px(1);
    }

    .promo__share-dreams {
      margin-top: px(64);
      font-family: 'Montserrat Bold', sans-serif;
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: px(70);
    }

    .promo__perfect-partner {
      margin-top: px(24);
      font-family: 'Roboto Light', sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 100;
    }

    .promo__find-partner-button {
      width: 280px;
      height: 40px;
      margin: px(20) auto;
      border-radius: 20px;
      border: 1px solid $colorRed;
      box-sizing: border-box;
      background-color: $colorRed;
      color: #fff;
      font-family: 'Montserrat Bold', sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      text-align: center;
    }
  }
}
