@import 'tablet';

& {
  height: 1025px;
  margin-top: 0;

  .holidays__wrapper {
    width: 940px;
    margin: 0 auto;

    .holidays__ideas_box {
      width: 100%;
      margin-top: 11px;

      .holidays__idea {
        width: 300px;
        height: 310px;
        margin-top: 10px;
      }

      .holidays__idea-large {
        width: 620px;
      }
    }
  }
}
